<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Security Family</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="10">
        <sebm-google-map-marker [latitude]="member.location.lat" [longitude]="member.location.lng" [markerDraggable]="false" *ngFor="let member of members">
        </sebm-google-map-marker>
    </sebm-google-map>
    <!--
    <ul>
        <li *ngFor="let item of members">
            {{item.location.lat}} {{item.location.lng}}
        </li>
    </ul>
    -->
</ion-content>
<!--
<ion-footer>
    <button ion-button block (click)="onNewMember()">New Member</button>
</ion-footer>
-->